@CHARSET "UTF-8";
.content{
	width:80%;
	margin:0 auto;
}

.header{
	
}
.side{
	background-color:#aaa;
	height:400px;
	width:120px;
	float:left;
}
.sideRight{
	background-color:#aaa;
	height:400px;
	width:120px;
	float:right;
}
.main{
	background-color:#eee;
	height:400px;
	margin:0 120px;
}
.footer{
	
}

.box{
	background-color:#eee;
	/* width:400px; */
	height:400px;
	margin:auto;
}
/* .box{
	float:left;
	width:25%;
	padding:25px;
	border:solid #aaa 2px;
	background-color:#eee;
} */
.box_bg1{
	background-color:#80ff00;
}
.box_bg2{
	background-color:#00ffff;
}
.box_bg3{
	background-color:#ff80c0;
}
.box_bg4{
	background-color:#808000;
}
